language: cpp
dist: trusty
os: linux

cache: # see https://docs.travis-ci.com/user/caching/
- directories:
  - $HOME/.cache

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-6
    - lcov

compiler:
- gcc

install:
- mkdir -p $HOME/.cache
- CMAKE_VERSION=3.14.3
- |
  if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
    CMAKE_URL="https://cmake.org/files/v${CMAKE_VERSION%.[0-9]}/cmake-${CMAKE_VERSION}-Linux-x86_64.tar.gz"
    mkdir cmake && travis_retry wget --no-check-certificate -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
    export PATH=${DEPS_DIR}/cmake/bin:${PATH}
  else
    brew install cmake || brew upgrade cmake
  fi
- cmake --version

script:
- CXX=/usr/bin/g++-6 CC=/usr/bin/gcc-6 make ci

after_success:
- lcov --base-directory . --directory . -c -o coverage.info
- lcov --remove coverage.info "/usr*" "*/build/*" -o coverage.info
- lcov --list coverage.info
- bash <(curl -s https://codecov.io/bash) -f coverage.info || echo "Codecov did not collect coverage reports"

notifications:
  email:
  - kautsar.ab@gmail.com
