language: cpp
dist: xenial
os: linux

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-6
    - lcov

compiler:
- gcc

before_install:
- sudo apt-get purge -y cmake
- git clone https://github.com/linux-test-project/lcov.git && cd lcov && git checkout v1.14 && sudo make install
- cd ..

# the install step will take care of deploying a newer cmake version
install:
# cmake v3.14.3
# first we create a directory for the CMake binaries
- DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
- mkdir ${DEPS_DIR}
# we use wget to fetch the cmake binaries
- travis_retry wget --no-check-certificate https://cmake.org/files/v3.14/cmake-3.14.3-Linux-x86_64.tar.gz
# extract the binaries; the output here is quite lengthy,
# so we swallow it to not clutter up the travis console
- tar -xvf cmake-3.14.3-Linux-x86_64.tar.gz > /dev/null
- mv cmake-3.14.3-Linux-x86_64 ${DEPS_DIR}/cmake-install
# add both the top-level directory and the bin directory from the archive
# to the system PATH. By adding it to the front of the path we hide the
# preinstalled CMake with our own.
- PATH=${DEPS_DIR}/cmake-install:${DEPS_DIR}/cmake-install/bin:$PATH
# don't forget to switch back to the main build directory once you are done
- cmake --version
  
script:
- CXX=/usr/bin/g++-6 CC=/usr/bin/gcc-6 make ci

after_success:
- lcov --directory . --capture --output-file coverage.info
# - lcov --remove coverage.info '*/test/*' '/usr/*' '*/build/*' --output-file coverage.info
- lcov --list coverage.info
- bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"

notifications:
  email:
  - kautsar.ab@gmail.com
